body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  box-shadow: -20px 7px 64px 25px rgba(44,110,189,0.75);
-webkit-box-shadow: -20px 7px 64px 25px rgba(44,110,189,0.75);
-moz-box-shadow: -20px 7px 64px 25px rgba(44,110,189,0.75);
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color:white;
  border-radius: 5px;
  box-shadow: -20px 7px 64px 25px rgba(44,110,189,0.75);
-webkit-box-shadow: -20px 7px 64px 25px rgba(44,110,189,0.75);
-moz-box-shadow: -20px 7px 64px 25px rgba(44,110,189,0.75);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;

}

p {
  margin-bottom: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.weather-info {
  margin-top: 20px;
}
